@font-face { font-family: 'icomoon'; src: url('../fonts/icomoon.eot?3ajyp6'); src: url('../fonts/icomoon.eot?3ajyp6#iefix') format('embedded-opentype'),  url('../fonts/icomoon.ttf?3ajyp6') format('truetype'),  url('../fonts/icomoon.woff?3ajyp6') format('woff'),  url('../fonts/icomoon.svg?3ajyp6#icomoon') format('svg'); font-weight: normal; font-style: normal;}
[class^="icon-"], [class*=" icon-"] { /* use !important to prevent issues with browser extensions that change fonts */ font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.icon-dashboard:before { content: "\e900";}
.icon-hashtag:before { content: "\e901";}
.icon-envelope:before { content: "\e902";}
.icon-paper-plane:before { content: "\e903";}
.icon-chevron-thin-down:before { content: "\e904";}
.icon-home:before { content: "\e905";}
.icon-edit:before { content: "\e906";}
.icon-camera:before { content: "\e907";}
.icon-music:before { content: "\e908";}
.icon-play:before { content: "\e909";}
.icon-pushpin:before { content: "\e90a";}
.icon-history:before { content: "\e90b";}
.icon-bell:before { content: "\e90c";}
.icon-calendar:before { content: "\e90d";}
.icon-comment:before { content: "\e90e";}
.icon-user:before { content: "\e90f";}
.icon-users:before { content: "\e910";}
.icon-user-plus:before { content: "\e911";}
.icon-user-minus:before { content: "\e912";}
.icon-binoculars:before { content: "\e913";}
.icon-search:before { content: "\e914";}
.icon-cog:before { content: "\e915";}
.icon-trash:before { content: "\e916";}
.icon-flag:before { content: "\e917";}
.icon-smile:before { content: "\e918";}
.icon-point-right:before { content: "\e919";}
.icon-cross:before { content: "\e91a";}
.icon-ok:before { content: "\e91b";}
.icon-login:before { content: "\e91c";}
.icon-logout:before { content: "\e91d";}
.icon-top:before { content: "\e91e";}
.icon-right:before { content: "\e91f";}
.icon-down:before { content: "\e920";}
.icon-left:before { content: "\e921";}
.icon-share:before { content: "\e922";}
.icon-facebook:before { content: "\e923";}
.icon-twitter:before { content: "\e924";}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

.datepicker{position:absolute; background: #fff; z-index:1030;}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
a.list-group-item {
  color: #555;
}
a.list-group-item .list-group-item-heading {
  color: #333;
}
a.list-group-item:hover,
a.list-group-item:focus {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
}
.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #eee;
}
.list-group-item.disabled .list-group-item-heading,
.list-group-item.disabled:hover .list-group-item-heading,
.list-group-item.disabled:focus .list-group-item-heading {
  color: inherit;
}
.list-group-item.disabled .list-group-item-text,
.list-group-item.disabled:hover .list-group-item-text,
.list-group-item.disabled:focus .list-group-item-text {
  color: #777;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.list-group-item.active .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading,
.list-group-item.active .list-group-item-heading > small,
.list-group-item.active:hover .list-group-item-heading > small,
.list-group-item.active:focus .list-group-item-heading > small,
.list-group-item.active .list-group-item-heading > .small,
.list-group-item.active:hover .list-group-item-heading > .small,
.list-group-item.active:focus .list-group-item-heading > .small {
  color: inherit;
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
  color: #c7ddef;
}
.list-group-item-success {
  color:  #fff;
background-color: #5cb85c;
  border-color: #4cae4c;
}
a.list-group-item-success {
  color: #3c763d;
}
a.list-group-item-success .list-group-item-heading {
  color: inherit;
}
a.list-group-item-success:hover,
a.list-group-item-success:focus {
  color: #3c763d;
  background-color: #d0e9c6;
}
a.list-group-item-success.active,
a.list-group-item-success.active:hover,
a.list-group-item-success.active:focus {
  color: #fff;
  background-color: #3c763d;
  border-color: #3c763d;
}

.list-group-item-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
a.list-group-item-danger {
  color: #a94442;
}
a.list-group-item-danger .list-group-item-heading {
  color: inherit;
}
a.list-group-item-danger:hover,
a.list-group-item-danger:focus {
  color: #a94442;
  background-color: #ebcccc;
}
a.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus {
  color: #fff;
  background-color: #a94442;
  border-color: #a94442;
}
.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3;
}