<!DOCTYPE html>
<html>
<head>
<title>{{ @site_title }} - Maintenance mode</title>
<style>
body{
background: #fff;
font-size: 15px;
color: white;
font-family: 'Segoe UI', Tahoma, Segoe UI, Arial, sans-serif;
}
.container{
width: 50%;
text-align: center;
margin: 80px auto;
color: #38B63C;
font-size: 20px;
}
.container h2{
font-family: 'Segoe UI', Tahoma, Segoe UI, Arial, sans-serif;
font-weight: normal;
font-size: 40px;
}
</style>
</head>
<body>
<div class="container">
<a href="{{ @home_url }}" ><img src="{{ @home_url.'/img/logo-full.png' }}" alt="Sen Manga"></a>
<h2>Sorry, we are down for maintenance</h2>
<p>We should be back shortly, Thanks for your patience</p>
</div>
</body>
</html>