<div class="row">
<div class="col-md-4">
<include if="{{ @logged_in}}" href="profile/profile-card.htm" />
</div>

<div class="col-md-8">
<check if="{{ @page['error'] }}">
<div class="alert alert-danger"><i class="icon-cross"></i> {{ @page.error }}</div>
</check>
<check if="{{ @page.success }}">
<div class="alert alert-success"><i class="icon-ok"></i> {{ @page.success }}</div>
</check>

<form data-toggle="validator" role="form" method="post" enctype="multipart/form-data" action="{{@home_url}}/{{ @users.user_name }}/change_password" class="email-signup">
<legend>Change Password</legend>
<div class="u-form-group form-group has-feedback">
<input type="password" class="form-control" id="current_password" name="current_password" placeholder="Current Password" data-minlength="6" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Enter Your Current Password." required>
<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
<div class="help-block">Minimum of 6 characters</div>
</div>
<div class="u-form-group form-group has-feedback">
<input type="password" class="form-control" id="set-password" name="password" placeholder="New Password" data-minlength="6" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Enter a combination of at least six numbers, letters and punctuation marks (like ! and &)." required>
<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
<div class="help-block">Minimum of 6 characters</div>
</div>
<div class="u-form-group form-group has-feedback">
<input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="New Password Confirmation" data-match="#set-password" data-match-error="Whoops, these don't match"  required>
<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
<div class="help-block with-errors"></div>
</div>

 
<button type="submit" class="btn btn-success pull-right">Upate Password</button>
</form>

</div>
</div>