<div class="row">
<div class="col-md-4">
<include if="{{ @logged_in}}" href="profile/profile-card.htm" />
</div>

<div class="col-md-8">
<check if="{{ @page['errors'] }}">
<div class="alert alert-danger">{{ @page['errors'] }}</div>
</check>

<form data-toggle="validator" role="form" method="post" enctype="multipart/form-data" action="{{@home_url}}/{{ @users.user_name }}/edit" class="email-signup">
<legend>Edit Profile</legend>
<div class="row">
<div class="col-xs-6">
<div class="u-form-group form-group has-feedback">
<input type="text" class="form-control" id="user_name" name="user_name" placeholder="User Name" value="{{ @edit_user.user_name }}" data-error="Bruh, Enter valid User Name" required>
<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
<div class="help-block with-errors"></div>
</div>
</div><!-- col-xs-4 -->
<div class="col-xs-6">
<div class="u-form-group form-group has-feedback">
<input type="text" class="form-control" id="display_name" name="display_name" placeholder="Display Name" value="{{ @edit_user.display_name }}" data-toggle="popover" data-placement="top" data-trigger="focus" data-content="What is your Full Name?" data-error="Bruh, Enter valid Display Name" required>
<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
<div class="help-block with-errors"></div>
</div>
</div><!-- col-xs-4 -->
</div><!-- row -->
<div class="u-form-group form-group has-feedback">
<input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{ @edit_user.email }}" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="You'll use this when you log in and if you ever need to reset your password." data-error="Bruh, that email address is invalid" required>
<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
<div class="help-block with-errors"></div>
</div>

<div class="u-form-group form-group">
<label for="gender">Gender:</label>
<label class="radio-inline">
<input type="radio" name="gender" id="male" value="1"> Male
</label>
<label class="radio-inline">
<input type="radio" name="gender" id="female" value="2"> Female
</label>
</div>
 
<div class="u-form-group form-group has-feedback">
<input type="text" class="form-control" id="date_of_birth" name="date_of_birth" placeholder="Date of Birth : YYYY-MM-DD" value="{{ @edit_user.date_of_birth }}" data-error="Whoops, Invaid Date Format" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Select your date of birth. You can change who can see this later." required>
<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
<div class="help-block with-errors"></div>
</div>
 
<button type="submit" class="btn btn-success pull-right">Save Changes</button>
</form>

</div>
</div>