<div class="row messages-box">
<div class="col-md-4">
    <div class="list-group">
        <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">...</p>
    </a>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">...</p>
        </a>
        <a href="#" class="list-group-item">
            <div class="media">
                <div class="media-left cover">
                    <img src="http://placehold.it/50x50" class="media-object" >
                </div>
                <div class="media-body">
                    The images or other media can be aligned top, middle, or bottom. The default is top aligned.
                    <p class="media-footer">
                        <i class="icon-clock"></i> 2014
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="col-md-8">
    <div class="panel panel-success">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">


    <div class="media">
        <div class="media-left cover">
            <img src="http://placehold.it/50x50" class="media-object" >
        </div>
        <div class="media-body">
            The images or other media can be aligned top, middle, or bottom. The default is top aligned.
            <p class="media-footer">
                <i class="icon-clock"></i> 2014
            </p>
        </div>
    </div>
<form>
<textarea class="form-control"></textarea>
<button type="submit">Send</button>
</form>
</div>
    </div>    </div>
</div>